In [26]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql import types 

# Initialize Spark session
spark = SparkSession.builder.appName("ApacheLogAnalysis").getOrCreate()

In [27]:
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark.conf.set("spark.sql.repl.eagerEval.maxNumRows", 100)
spark.conf.set("spark.sql.repl.eagerEval.truncate", 30)

In [28]:
graph_raw_df = spark.read.text("../data/marvel_graph.txt")
graph_raw_df

+------------------------------+
|                         value|
+------------------------------+
|5988 748 1722 3752 4655 574...|
|5989 4080 4264 4446 3779 24...|
|5982 217 595 1194 3308 2940...|
|5983 1165 3836 4361 1282 71...|
|5980 2731 3712 1587 6084 24...|
|5981 3569 5353 4087 2653 20...|
|5986 2658 3712 2650 1265 13...|
|5987 2614 5716 1765 1818 29...|
|5984 590 4898 745 3805 2650...|
|5985 3233 2254 212 2023 272...|
|6294 4898 1127 3220 859 266...|
|270 2658 3003 3805 3861 265...|
|271 4935 5716 4309 3829 579...|
|272 2717 4363 4088 3254 612...|
|273 1165 5013 5110 5113 394...|
|274 3920 5310 4024 5986 565...|
|275 4366 3373 1587 133 4400...|
|276 2277 5251 4806 2602 239...|
|277 1068 3495 6194 3636 532...|
|278 1145 667 2650 767 1265 ...|
|279 4366 4085 1065 2842 112...|
|2143 1165 6095 4211 1231 62...|
|2142 2548 4239 4440 2650 13...|
|3519 4704 2460 763 1602 530...|
|                    3518 5409 |
|3513 3759 2592 2593 4321 51...|
|3512 4165 762 4308 859 4750...|
|3511 4349 3636 3889 5206 28...|
|3510 1098 1168 2592 3750 50...|
|3517 4839 3488 4155 6019 40...|
|3516 2873 2134 709 1214 350...|
|3515 1304 217 2650 3101 133...|
|3514 4366 4835 3495 4240 11...|
|2688 4366 4239 1065 1206 28...|
|2689 4289 126 3924 3712 119...|
|2684 2331 761 2811 3984 512...|
|2685 5170 554 2197 2598 277...|
|2686 693 4937 4155 5306 410...|
|2687 2971 3454 2449 2297 12...|
|2680 4261 1084 154 3594 606...|
|2681 4398 595 1848 3540 480...|
|2682 3931 1250 2846 4387 71...|
|2683 1347 3041 4802 5379 49...|
|99 2658 3712 2650 1265 133 ...|
|98 4898 2592 3081 4454 859 ...|
|91 2658 2650 2842 3657 3651...|
|90 5722 154 2557 3805 5716 ...|
|93 4301 190 4653 1484 5640 ...|
|92 854 1632 6306 1214 2040 ...|
|95 3438 4138 3699 5577 5424...|
|94 5396 459 2548 155 594 19...|
|97 3905 3906 2636 5385 3215...|
|96 2658 155 2840 6003 5707 ...|
|1177 4289 318 5467 3712 349...|
|1176 1095 966 3495 1222 260...|
|1175 3495 764 133 5745 3329...|
|     1174 5919 4415 2811 1347 |
|1173 2811 7 5440 5306 1347 ...|
|1172 4365 1165 4726 2718 76...|
|               1171 1347 6218 |
|1170 5222 5840 1347 545 391...|
|1179 5159 4188 2613 1161 36...|
|1178 1224 155 154 3712 3750...|
|876 2966 210 767 764 4228 4...|
|877 5360 2203 5352 4155 530...|
|3432 6402 4280 5021 1851 43...|
|623 5830 2558 5958 759 2175...|
|875 3922 4726 4024 4785 582...|
|875 4240 2584 4454 1161 189...|
|622 5162 2913 5261 2040 601...|
|872 2896 4306 556 3784 4270...|
|1225 854 4366 2603 2620 245...|
|3435 1165 4898 595 1080 386...|
|                     620 5306 |
|      870 3494 4278 1591 3634 |
|627 2900 595 3495 133 4366 ...|
|871 3759 4898 154 2592 2593...|
|626 5159 4898 6148 1878 294...|
|4592 1165 6095 4211 1231 62...|
|625 1165 2399 592 5535 5017...|
|2036 4898 1341 1010 1265 85...|
|624 2928 3805 3023 2650 265...|
|4590 3905 3906 4898 154 371...|
|4591 2712 4302 2548 2650 13...|
|2745 4306 6098 3805 2650 13...|
|4849 4898 154 2593 3805 265...|
|4594 5003 1789 3601 3950 42...|
|4595 2928 4898 624 3805 302...|
|2749 5608 6434 2709 2628 23...|
|4845 10 337 2548 136 1572 2...|
|4598 6313 4898 2557 3805 57...|
|4599 3716 3927 3713 3712 34...|
|4734 854 1551 2016 4791 195...|
|               4735 1546 6148 |
|2039 5306 1669 3411 5971 59...|
|4843 4366 555 4247 1207 332...|
|4738 3927 1325 4246 1347 28...|
|4739 4398 2586 5398 2544 23...|
|393 3578 1148 5193 4501 4 5...|
|392 2964 4898 155 3805 6428...|
+------------------------------+
only showing top 100 rows

In [29]:
graph_split_df = graph_raw_df.select(func.split("value", " ").alias("parts"))
graph_split_df

+------------------------------+
|                         parts|
+------------------------------+
|[5988, 748, 1722, 3752, 465...|
|[5989, 4080, 4264, 4446, 37...|
|[5982, 217, 595, 1194, 3308...|
|[5983, 1165, 3836, 4361, 12...|
|[5980, 2731, 3712, 1587, 60...|
|[5981, 3569, 5353, 4087, 26...|
|[5986, 2658, 3712, 2650, 12...|
|[5987, 2614, 5716, 1765, 18...|
|[5984, 590, 4898, 745, 3805...|
|[5985, 3233, 2254, 212, 202...|
|[6294, 4898, 1127, 3220, 85...|
|[270, 2658, 3003, 3805, 386...|
|[271, 4935, 5716, 4309, 382...|
|[272, 2717, 4363, 4088, 325...|
|[273, 1165, 5013, 5110, 511...|
|[274, 3920, 5310, 4024, 598...|
|[275, 4366, 3373, 1587, 133...|
|[276, 2277, 5251, 4806, 260...|
|[277, 1068, 3495, 6194, 363...|
|[278, 1145, 667, 2650, 767,...|
|[279, 4366, 4085, 1065, 284...|
|[2143, 1165, 6095, 4211, 12...|
|[2142, 2548, 4239, 4440, 26...|
|[3519, 4704, 2460, 763, 160...|
|                [3518, 5409, ]|
|[3513, 3759, 2592, 2593, 43...|
|[3512, 4165, 762, 4308, 859...|
|[3511, 4349, 3636, 3889, 52...|
|[3510, 1098, 1168, 2592, 37...|
|[3517, 4839, 3488, 4155, 60...|
|[3516, 2873, 2134, 709, 121...|
|[3515, 1304, 217, 2650, 310...|
|[3514, 4366, 4835, 3495, 42...|
|[2688, 4366, 4239, 1065, 12...|
|[2689, 4289, 126, 3924, 371...|
|[2684, 2331, 761, 2811, 398...|
|[2685, 5170, 554, 2197, 259...|
|[2686, 693, 4937, 4155, 530...|
|[2687, 2971, 3454, 2449, 22...|
|[2680, 4261, 1084, 154, 359...|
|[2681, 4398, 595, 1848, 354...|
|[2682, 3931, 1250, 2846, 43...|
|[2683, 1347, 3041, 4802, 53...|
|[99, 2658, 3712, 2650, 1265...|
|[98, 4898, 2592, 3081, 4454...|
|[91, 2658, 2650, 2842, 3657...|
|[90, 5722, 154, 2557, 3805,...|
|[93, 4301, 190, 4653, 1484,...|
|[92, 854, 1632, 6306, 1214,...|
|[95, 3438, 4138, 3699, 5577...|
|[94, 5396, 459, 2548, 155, ...|
|[97, 3905, 3906, 2636, 5385...|
|[96, 2658, 155, 2840, 6003,...|
|[1177, 4289, 318, 5467, 371...|
|[1176, 1095, 966, 3495, 122...|
|[1175, 3495, 764, 133, 5745...|
|[1174, 5919, 4415, 2811, 13...|
|[1173, 2811, 7, 5440, 5306,...|
|[1172, 4365, 1165, 4726, 27...|
|          [1171, 1347, 6218, ]|
|[1170, 5222, 5840, 1347, 54...|
|[1179, 5159, 4188, 2613, 11...|
|[1178, 1224, 155, 154, 3712...|
|[876, 2966, 210, 767, 764, ...|
|[877, 5360, 2203, 5352, 415...|
|[3432, 6402, 4280, 5021, 18...|
|[623, 5830, 2558, 5958, 759...|
|[875, 3922, 4726, 4024, 478...|
|[875, 4240, 2584, 4454, 116...|
|[622, 5162, 2913, 5261, 204...|
|[872, 2896, 4306, 556, 3784...|
|[1225, 854, 4366, 2603, 262...|
|[3435, 1165, 4898, 595, 108...|
|                 [620, 5306, ]|
|[870, 3494, 4278, 1591, 363...|
|[627, 2900, 595, 3495, 133,...|
|[871, 3759, 4898, 154, 2592...|
|[626, 5159, 4898, 6148, 187...|
|[4592, 1165, 6095, 4211, 12...|
|[625, 1165, 2399, 592, 5535...|
|[2036, 4898, 1341, 1010, 12...|
|[624, 2928, 3805, 3023, 265...|
|[4590, 3905, 3906, 4898, 15...|
|[4591, 2712, 4302, 2548, 26...|
|[2745, 4306, 6098, 3805, 26...|
|[4849, 4898, 154, 2593, 380...|
|[4594, 5003, 1789, 3601, 39...|
|[4595, 2928, 4898, 624, 380...|
|[2749, 5608, 6434, 2709, 26...|
|[4845, 10, 337, 2548, 136, ...|
|[4598, 6313, 4898, 2557, 38...|
|[4599, 3716, 3927, 3713, 37...|
|[4734, 854, 1551, 2016, 479...|
|          [4735, 1546, 6148, ]|
|[2039, 5306, 1669, 3411, 59...|
|[4843, 4366, 555, 4247, 120...|
|[4738, 3927, 1325, 4246, 13...|
|[4739, 4398, 2586, 5398, 25...|
|[393, 3578, 1148, 5193, 450...|
|[392, 2964, 4898, 155, 3805...|
+------------------------------+
only showing top 100 rows

In [30]:
graph_df_tight = graph_split_df.select(
    func.col("parts")[0].cast("int").alias("hero_id"), 
    func.expr("size(parts)-2").alias("friends"),
)
graph_df_tight

+-------+-------+
|hero_id|friends|
+-------+-------+
|   5988|     48|
|   5989|     40|
|   5982|     42|
|   5983|     14|
|   5980|     24|
|   5981|     17|
|   5986|    142|
|   5987|     81|
|   5984|     41|
|   5985|     19|
|   6294|     13|
|    270|     42|
|    271|      9|
|    272|     45|
|    273|     58|
|    274|    410|
|    275|     47|
|    276|     15|
|    277|     16|
|    278|    123|
|    279|     31|
|   2143|     19|
|   2142|    222|
|   3519|     12|
|   3518|      1|
|   3513|     33|
|   3512|     11|
|   3511|     56|
|   3510|     19|
|   3517|     13|
|   3516|     11|
|   3515|    200|
|   3514|     29|
|   2688|     39|
|   2689|    330|
|   2684|     18|
|   2685|     24|
|   2686|      7|
|   2687|      9|
|   2680|     49|
|   2681|     14|
|   2682|     18|
|   2683|     21|
|     99|    118|
|     98|     18|
|     91|     85|
|     90|     11|
|     93|     38|
|     92|     19|
|     95|      6|
|     94|     59|
|     97|     15|
|     96|     21|
|   1177|    206|
|   1176|     13|
|   1175|    126|
|   1174|      4|
|   1173|      8|
|   1172|     65|
|   1171|      2|
|   1170|      6|
|   1179|     35|
|   1178|     70|
|    876|    142|
|    877|     10|
|   3432|     13|
|    623|      8|
|    875|    501|
|    875|     31|
|    622|     17|
|    872|     51|
|   1225|     20|
|   3435|     23|
|    620|      1|
|    870|      4|
|    627|     23|
|    871|     53|
|    626|     32|
|   4592|     19|
|    625|     79|
|   2036|     37|
|    624|     32|
|   4590|     53|
|   4591|    162|
|   2745|     29|
|   4849|     32|
|   4594|     20|
|   4595|     48|
|   2749|     11|
|   4845|      6|
|   4598|     19|
|   4599|    253|
|   4734|     10|
|   4735|      2|
|   2039|      6|
|   4843|     21|
|   4738|     37|
|   4739|     12|
|    393|      8|
|    392|     39|
+-------+-------+
only showing top 100 rows

In [31]:
graph_df = graph_df_tight.groupBy("hero_id").agg(func.sum("friends").alias("friends"))
graph_df

+-------+-------+
|hero_id|friends|
+-------+-------+
|   2142|    222|
|   3749|     11|
|   5803|      7|
|   1580|     18|
|   3918|    497|
|    496|     45|
|   6336|     44|
|   1342|     19|
|    833|      8|
|   1645|     19|
|   3997|     10|
|   2866|     12|
|   6357|     12|
|   5518|     11|
|   4519|     56|
|   3794|     29|
|   1959|    482|
|   6397|     18|
|    463|     25|
|   4101|     11|
|   2659|     67|
|   3175|     28|
|    471|     48|
|   4935|    432|
|    148|    120|
|   6466|      7|
|   1088|    139|
|   1591|      9|
|   4818|     14|
|   1238|     22|
|   4900|      7|
|   1829|     57|
|   2366|      4|
|   5300|     14|
|   2122|     50|
|   5156|     18|
|    623|      8|
|    392|     39|
|   5614|     45|
|   4190|     31|
|   3475|     52|
|   1721|    101|
|    858|     25|
|   1460|      1|
|   4219|     13|
|   3226|     15|
|   1990|     59|
|   1483|     16|
|   4161|     27|
|   2235|    144|
|   6393|     51|
|   2580|      7|
|   4929|    136|
|   1025|     15|
|   3179|     21|
|    243|      8|
|   3698|     10|
|   1127|   1045|
|   1896|     32|
|   2563|     17|
|   1084|    263|
|   2811|    442|
|    540|     38|
|   2999|     81|
|   1395|     10|
|   4158|     25|
|   2387|      9|
|    897|     41|
|   1522|     15|
|   1507|     20|
|    737|     25|
|   5984|     41|
|   5071|     29|
|   1139|     16|
|   3000|      5|
|   1303|     17|
|   2572|     90|
|   1322|      6|
|   2821|     11|
|   4391|     11|
|   5287|     15|
|    516|    264|
|   2393|     10|
|   1352|     52|
|   5345|     44|
|   4489|      6|
|   1143|      8|
|   2711|     17|
|   2776|     27|
|   6266|     17|
|   1699|     45|
|   1339|     15|
|     31|     45|
|   1903|     14|
|   1650|     31|
|   6482|      3|
|   3213|      9|
|   1618|     15|
|   3352|      7|
|   2996|     29|
+-------+-------+
only showing top 100 rows

In [32]:
graph_df.count()

6486

In [33]:
hero_names_raw = spark.read.text("../data/marvel_names.txt")
hero_names_raw

+-------------------------+
|                    value|
+-------------------------+
| 1 "24-HOUR MAN/EMMANUEL"|
| 2 "3-D MAN/CHARLES CHAN"|
|     3 "4-D MAN/MERCURIO"|
|              4 "8-BALL/"|
|                    5 "A"|
|                6 "A'YIN"|
|         7 "ABBOTT, JACK"|
|              8 "ABCISSA"|
|                 9 "ABEL"|
|10 "ABOMINATION/EMIL BLO"|
|11 "ABOMINATION | MUTANT"|
|         12 "ABOMINATRIX"|
|             13 "ABRAXAS"|
|          14 "ADAM 3,031"|
|             15 "ABSALOM"|
|16 "ABSORBING MAN/CARL C"|
|17 "ABSORBING MAN | MUTA"|
|                18 "ACBA"|
|19 "ACHEBE, REVEREND DOC"|
|            20 "ACHILLES"|
|  21 "ACHILLES II/HELMUT"|
|  22 "ACROBAT/CARL ZANTE"|
|              23 "ADAM X"|
|        24 "ADAMS, CINDY"|
|25 "ADAMS, CONGRESSMAN H"|
|       26 "ADAMS, GEORGE"|
|       27 "ADAMS, MARTHA"|
| 28 "ADAMS, NICOLE NIKKI"|
|      29 "ADAMSON, JASON"|
|    30 "ADAMSON, REBECCA"|
|   31 "ADMIRAL PROTOCOL/"|
|               32 "ADORA"|
|         33 "ADORA CLONE"|
|               34 "ADRIA"|
|                35 "ADVA"|
|   36 "ADVENT/KYLE GROBE"|
|           37 "ADVERSARY"|
|  38 "AEGIS/TREY ROLLINS"|
|            39 "AENTAROS"|
|           40 "AFTERLIFE"|
|           41 "AGAMEMNON"|
|42 "AGAMEMNON II/ANDREI "|
|      43 "AGAMEMNON III/"|
|            44 "AGAMOTTO"|
|        45 "AGARN, CAPT."|
|        46 "AGED GENGHIS"|
|    47 "AGEE, DR. AUBREY"|
|       48 "AGEE, REBECCA"|
|         49 "AGENT AXIS/"|
|50 "AGENT 18/JACK TRUMAN"|
|            51 "AGENT-X/"|
|             52 "AGGAMON"|
|              53 "AGINAR"|
|                54 "AGON"|
|              55 "AGONY/"|
|     56 "AGUIRRE, ISOBEL"|
|  57 "AHAB/RORY CAMPBELL"|
|              58 "AHQLAU"|
|               59 "AHURA"|
|             60 "AI-CHIA"|
|               61 "AINET"|
|62 "AIR WALKER/ARLO SAMU"|
|63 "AIR-WALKER/GABRIEL L"|
|           64 "AIRBORNE/"|
|65 "AIREO/AEOLUS [INHUMA"|
|66 "AJAK/TECUMOTZIN [ETE"|
|                67 "AJAX"|
|             68 "AJAX II"|
|             69 "AJES'HA"|
|               70 "AKAFE"|
|              71 "AKULIA"|
|    72 "AKUTAGAWA, OSAMU"|
|           73 "AL-KHALAD"|
|              74 "ALANYA"|
|             75 "ALBERIK"|
|              76 "ALBERT"|
|77 "ALBINO/DR. AUGUSTA S"|
|78 "ALBUQUERQUE, JEREMIA"|
|79 "ALCHEMY/THOMAS JONES"|
|80 "ALDEN, PROF. MEREDIT"|
|     81 "ALEGRIA, RICHIE"|
|    82 "ALEXANDER, CALEB"|
|   83 "ALEXANDER, CARRIE"|
|                84 "ALFY"|
|              85 "ALIOTH"|
|               86 "ALIST"|
|             87 "ALISTRO"|
|        88 "ALLEN, TERRY"|
|    89 "ALOUETTE, GENARD"|
|               90 "ALPHA"|
|    91 "ALRAUNE, MARLENE"|
|      92 "ALVAREZ, CARLY"|
|       93 "ALVAREZ, PAUL"|
|      94 "ALVAREZ, FELIX"|
|   95 "AMAZO-MAXI-WOMAN/"|
|              96 "AMAZON"|
|           97 "AMENHOTEP"|
|98 "AMERICAN EAGLE II/JA"|
|99 "AMERICAN EAGLE III/J"|
|  100 "AMERICAN SAMURAI/"|
+-------------------------+
only showing top 100 rows

In [34]:
rg = r'^(\d+) "(.+)"$'
hero_names_df = hero_names_raw.select(
    func.regexp_extract("value", rg, 1).try_cast("int").alias("hero_id"),
    func.regexp_extract("value", rg, 2).alias("hero_name"),
)
hero_names_df = hero_names_df.dropna()
hero_names_df

+-------+--------------------+
|hero_id|           hero_name|
+-------+--------------------+
|      1|24-HOUR MAN/EMMANUEL|
|      2|3-D MAN/CHARLES CHAN|
|      3|    4-D MAN/MERCURIO|
|      4|             8-BALL/|
|      5|                   A|
|      6|               A'YIN|
|      7|        ABBOTT, JACK|
|      8|             ABCISSA|
|      9|                ABEL|
|     10|ABOMINATION/EMIL BLO|
|     11|ABOMINATION | MUTANT|
|     12|         ABOMINATRIX|
|     13|             ABRAXAS|
|     14|          ADAM 3,031|
|     15|             ABSALOM|
|     16|ABSORBING MAN/CARL C|
|     17|ABSORBING MAN | MUTA|
|     18|                ACBA|
|     19|ACHEBE, REVEREND DOC|
|     20|            ACHILLES|
|     21|  ACHILLES II/HELMUT|
|     22|  ACROBAT/CARL ZANTE|
|     23|              ADAM X|
|     24|        ADAMS, CINDY|
|     25|ADAMS, CONGRESSMAN H|
|     26|       ADAMS, GEORGE|
|     27|       ADAMS, MARTHA|
|     28| ADAMS, NICOLE NIKKI|
|     29|      ADAMSON, JASON|
|     30|    ADAMSON, REBECCA|
|     31|   ADMIRAL PROTOCOL/|
|     32|               ADORA|
|     33|         ADORA CLONE|
|     34|               ADRIA|
|     35|                ADVA|
|     36|   ADVENT/KYLE GROBE|
|     37|           ADVERSARY|
|     38|  AEGIS/TREY ROLLINS|
|     39|            AENTAROS|
|     40|           AFTERLIFE|
|     41|           AGAMEMNON|
|     42|AGAMEMNON II/ANDREI |
|     43|      AGAMEMNON III/|
|     44|            AGAMOTTO|
|     45|        AGARN, CAPT.|
|     46|        AGED GENGHIS|
|     47|    AGEE, DR. AUBREY|
|     48|       AGEE, REBECCA|
|     49|         AGENT AXIS/|
|     50|AGENT 18/JACK TRUMAN|
|     51|            AGENT-X/|
|     52|             AGGAMON|
|     53|              AGINAR|
|     54|                AGON|
|     55|              AGONY/|
|     56|     AGUIRRE, ISOBEL|
|     57|  AHAB/RORY CAMPBELL|
|     58|              AHQLAU|
|     59|               AHURA|
|     60|             AI-CHIA|
|     61|               AINET|
|     62|AIR WALKER/ARLO SAMU|
|     63|AIR-WALKER/GABRIEL L|
|     64|           AIRBORNE/|
|     65|AIREO/AEOLUS [INHUMA|
|     66|AJAK/TECUMOTZIN [ETE|
|     67|                AJAX|
|     68|             AJAX II|
|     69|             AJES'HA|
|     70|               AKAFE|
|     71|              AKULIA|
|     72|    AKUTAGAWA, OSAMU|
|     73|           AL-KHALAD|
|     74|              ALANYA|
|     75|             ALBERIK|
|     76|              ALBERT|
|     77|ALBINO/DR. AUGUSTA S|
|     78|ALBUQUERQUE, JEREMIA|
|     79|ALCHEMY/THOMAS JONES|
|     80|ALDEN, PROF. MEREDIT|
|     81|     ALEGRIA, RICHIE|
|     82|    ALEXANDER, CALEB|
|     83|   ALEXANDER, CARRIE|
|     84|                ALFY|
|     85|              ALIOTH|
|     86|               ALIST|
|     87|             ALISTRO|
|     88|        ALLEN, TERRY|
|     89|    ALOUETTE, GENARD|
|     90|               ALPHA|
|     91|    ALRAUNE, MARLENE|
|     92|      ALVAREZ, CARLY|
|     93|       ALVAREZ, PAUL|
|     94|      ALVAREZ, FELIX|
|     95|   AMAZO-MAXI-WOMAN/|
|     96|              AMAZON|
|     97|           AMENHOTEP|
|     98|AMERICAN EAGLE II/JA|
|     99|AMERICAN EAGLE III/J|
|    100|   AMERICAN SAMURAI/|
+-------+--------------------+
only showing top 100 rows

In [35]:
graph_df.createOrReplaceTempView("friend")
hero_names_df.createOrReplaceTempView("hero")

top_10_popular_heroes = spark.sql("""
SELECT h.hero_id, h.hero_name, f.friends
FROM friend f
JOIN hero h ON h.hero_id == f.hero_id
ORDER BY f.friends DESC
LIMIT 10
""")
top_10_popular_heroes

+-------+--------------------+-------+
|hero_id|           hero_name|friends|
+-------+--------------------+-------+
|    859|     CAPTAIN AMERICA|   1933|
|   5306|SPIDER-MAN/PETER PAR|   1741|
|   2664|IRON MAN/TONY STARK |   1528|
|   5716|THING/BENJAMIN J. GR|   1426|
|   6306|    WOLVERINE/LOGAN |   1394|
|   3805|MR. FANTASTIC/REED R|   1386|
|   2557|HUMAN TORCH/JOHNNY S|   1371|
|   4898|SCARLET WITCH/WANDA |   1345|
|   5736|THOR/DR. DONALD BLAK|   1289|
|    403|BEAST/HENRY &HANK& P|   1280|
+-------+--------------------+-------+

In [39]:
min_friends = spark.sql("SELECT min(friends) FROM friend")
min_friends = min_friends.first()[0]
min_friends

0

In [41]:

obscure_heroes = spark.sql(f"""
SELECT h.hero_id, h.hero_name
FROM friend f
JOIN hero h ON h.hero_id == f.hero_id
WHERE f.friends = {min_friends}
""")
obscure_heroes

+-------+--------------------+
|hero_id|           hero_name|
+-------+--------------------+
|   3490|MARVEL BOY II/MARTIN|
|   4517|              RANDAK|
|   5028|           SHARKSKIN|
|    577|              BLARE/|
|   4784|                RUNE|
|   1089|       CLUMSY FOULUP|
|   2911|                KULL|
|   3489|MARVEL BOY/MARTIN BU|
|   1841|              FENRIS|
|   3298|          LUNATIK II|
|    467|        BERSERKER II|
|   6411|              ZANTOR|
|   3014|JOHNSON, LYNDON BAIN|
|   2139|      GIURESCU, RADU|
|   4945|         SEA LEOPARD|
|    835|     CALLAHAN, DANNY|
|   1408|         DEATHCHARGE|
|   4602|         RED WOLF II|
|   2117|GERVASE, LADY ALYSSA|
+-------+--------------------+